In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('https://raw.githubusercontent.com/Yorko/mlcourse.ai/master/data/adult.data.csv')
df.head(10)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K



**1. Сколько мужчин и женщин (признак sex) представлено в этом наборе данных?**

In [2]:
df['sex'].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

**2. Каков средний возраст (признак age) женщин?**

In [3]:
df[df['sex'] == 'Female']['age'].mean()

36.85823043357163

**3. Какова доля граждан Германии (признак native-country) в процентах?**

In [4]:
(df['native-country'] == 'Germany').mean()*100

0.42074874850281013

**4. Каковы средние и среднеквадратичные отклонения возраста тех, кто получает более 50K в год (признак salary)?**

In [5]:
df[df['salary'] == '>50K'].describe().loc[['mean', 'std'],'age']

mean    44.249841
std     10.519028
Name: age, dtype: float64

**5. Каковы средние значения и среднеквадратичные отклонения возраста тех, кто получает менее 50K в год (признак salary)?**

In [6]:
df[df['salary'] == '<=50K'].describe().loc[['mean', 'std'],'age']

mean    36.783738
std     14.020088
Name: age, dtype: float64

**6. Правда ли, что люди, которые получают больше 50k, имеют как минимум высшее образование? (признак education равен Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters или Doctorate)**

In [7]:
df[df['salary'] == '>50K']['education'].value_counts()

Bachelors       2221
HS-grad         1675
Some-college    1387
Masters          959
Prof-school      423
Assoc-voc        361
Doctorate        306
Assoc-acdm       265
10th              62
11th              60
7th-8th           40
12th              33
9th               27
5th-6th           16
1st-4th            6
Name: education, dtype: int64

**7. Каков максимальный возраст мужчин расы Amer-Indian-Eskimo?**

In [8]:
df[df['race'] == 'Amer-Indian-Eskimo']['age'].max()

82

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак marital-status для женатых равен Married-civ-spouse, Married-spouse-absent или Married-AF-spouse)?**

In [9]:
df[(df['salary'] == '>50K') & (df['sex'] == 'Male')]['marital-status'].value_counts()

Married-civ-spouse       5938
Never-married             325
Divorced                  284
Separated                  49
Widowed                    39
Married-spouse-absent      23
Married-AF-spouse           4
Name: marital-status, dtype: int64

**9. Какое максимальное число часов человек работает в неделю (признак hours-per-week)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [10]:
df['hours-per-week'].max()

99

In [11]:
df[df['hours-per-week'] == df['hours-per-week'].max()].shape[0]

85

In [12]:
df[df['hours-per-week'] == df['hours-per-week'].max()]['salary'].value_counts()[1]/\
df[df['hours-per-week'] == df['hours-per-week'].max()].shape[0]*100

29.411764705882355

**10. Каково среднее время работы (hours-per-week) зарабатывающих мало и много (salary) для Японии**

In [13]:
df[df['native-country'] == 'Japan'].groupby('salary')['hours-per-week'].mean()

salary
<=50K    41.000000
>50K     47.958333
Name: hours-per-week, dtype: float64