In [1]:
import pandas as pd
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

In [59]:
my_stat = pd.read_csv('https://stepik.org/media/attachments/course/4852/my_stat_1.csv')

In [61]:
mean_session_value_data = my_stat.groupby('group',as_index=False).mean().rename(columns={'session_value' : 'mean_session_value'}).iloc[:,[0,2]]

In [62]:
mean_session_value_data

  group  time
0     A   9.0
1     B  10.0